.position{
    position: absolute;
}
.swiper-slide{
    background:url("../img/page_bg.png");
    background-size: 100% 100%;
}
#slide0{
    background:url("../img/p0_bg.png");
    background-size: 100% 100%;
}

#slide1{
    background:url("../img/p1_bg.jpg");
    background-size: 100% 100%;
}
#p0_01{
    position: absolute;
    width: 31%;top: 2%;
    left: 35%;z-index: 99;
}
#p0_02{
    position: absolute;
    width: 83%;top: 34%;
    left: 12%;z-index: 99;
}
#p0_03,#p1_btn1{
    position: absolute;
    background:url("../img/p0_btn1_active.png"); background-size: 100% 100%;
    width: 60%;top: 50.4%; z-index: 99; padding-bottom: 12.69%;
    left: 21%;
}

#p0_03:active{
    position: absolute;
    top: 51.4%; 
    background:url("../img/p0_btn1.png"); background-size: 100% 100%;padding-bottom: 10.34%;
}


#p1_btn1:active{
    position: absolute;
    width: 54%;bottom: 3.7%;LEFT: 7.8%;top:inherit;
    background:url("../img/p0_btn1.png"); background-size: 100% 100%;padding-bottom: 10.34%;
}


.time{
    font-size: 2.3rem;
    /*font-family: "黑体";*/
    line-height: 1.268;
    font-weight: bold;
    text-align: center;
    -moz-transform: matrix( 1.21691343211433,0,0,1.21691343211433,0,0);
    -webkit-transform: matrix( 1.21691343211433,0,0,1.21691343211433,0,0);
    -ms-transform: matrix( 1.21691343211433,0,0,1.21691343211433,0,0);
    color: #fbd75d !important;
     -webkit-text-stroke: 0.5px #000;
}
#time-h{
    top: 39.5%;left: 1.4%;
}
#time-m{
    top: 39.5%;left: 41%;
}
#time-s{
    top: 39.5%;left: 68%;
}
#p0_04:active{
    position: absolute;
    background:url("../img/p0_btn2.png"); background-size: 100% 100%;padding-bottom: 10.34%;
    top: 62.2%;
}
#p0_04{
    position: absolute;
    background:url("../img/p0_btn2_active.png"); background-size: 100% 100%;
    width: 60%;top: 61.2%; z-index: 99;  left: 21%; padding-bottom: 12.69%;
    left: 21%; 
}

#p0_05{
    width: 100%;
    z-index: 1;
   bottom: 0px;
    left: 0%;
}
#p0_06{
    width:44.375%;
    z-index: 1;
    bottom: 0px;
    right: 0%;
}

.p1_video{
    border: 2px solid #27bda6;width: 70%;height: 23%;border-radius: 6px;
    top: 19%;left: 14%;box-sizing:border-box;
    z-index: 10;
}
#p1_video6,#p1_video4,#p1_video2{
    top: 53%;
}

.video_slide0, .video_slide1, .video_slide2{
    position: absolute;
    width: 100%;
    height: 100%;
}

#video2_des{
    width:40.01%;
    top: 78%;LEFT:30%;
}
#video1_des{
    width:52.17%;
    top: 44%;LEFT:25%;
}

#video3_des{
    width:46.3%;
    top: 78%;LEFT:30%;
}
#video4_des{
    width:52.17%;
    top: 44%;LEFT:25%;
}

.slide0_img{
    position: absolute;
    width: 22.97%;/*147px*/
    top: 33%;
    right: 0%;
}

.slide1_img{
    position: absolute;
    width: 51.87%;/*332px*/
    top: 26.5%;
    left: 0%;
}

.slide2_img{
    position: absolute;
    width: 35.31%;/*226px*/
    top: 19.5%;
    right: 0%;
}

.video1_play, .video3_play, .video5_play{
    position: absolute;
    width: 13.59%;/*87px*/
    left: 43%;
    top: 26%;
    z-index: 11;
}

.video2_play, .video4_play, .video6_play{
    position: absolute;
    width: 13.59%;/*87px*/
    left: 43%;
    top: 60%;
    z-index: 11;
}


#p1_01{
    width: 69.84375%;top:3.4%;left: 15%;
}
#p1_02{
    width: 27.5%;top:8.1%;right: 0px;
}
#p1_btn1{
    width: 54%;bottom: 3.7%;LEFT: 7.8%;top:inherit;
}
#p1_03{
    width:33.90625%;
    top: 78%;LEFT:35%
}
#p1_04{
    width:37.96875%;
    top: 44%;LEFT:32%
}
#p1_05{
    width:4.53125%;
    top: 82%;LEFT:47%
}
#p1_06{
    width: 4.53%;
    top: 16%;left:47%;
}

#p2_03{
    width: 50%;top: 10%;left: 25%;
}

#p2_04{
    width: 38%;top: 21%;left: 33%;
}
#p2_05{
    width: 57%;top: 59%;left: 22%;
}video{
     width: 100%;height: 100%;
 }
#p2_06
{
    WIDTH: 60%;top:63%;
    left: 20%;
}
#p2_06 input{
    width: 100%;background: transparent;outline: none;border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;box-sizing: border-box;
    text-align: center;
}
#p2_07{
    position: absolute;
    width: 25%;top: 75%;left: 39%;
    background:url("../img/submitBtn.png"); background-size: 100% 100%;padding-bottom: 10.66%;
}
#p2_07:active{
    top: 76%;
    background:url("../img/submitBtn_active.png"); background-size: 100% 100%;
}
#p2_08{
    width: 25%;top: 70%;left: 39%;
    background:url("../img/p2_06.png"); background-size: 100% 100%;height: 5.9%;
}
#p2_08:active{
    background:url("../img/p2_06_active.png"); background-size: 100% 100%;height: 5.3%;
}
#slide3{
    background:url("../img/p3_bg.png");
    background-size: 100% 100%;
}
#slide2{
    background:url("../img/p2_bg.png");
    background-size: 100% 100%;
}
#p3_01{
    width: 50%;top: 11%;left:25%
}

#p3_02{
     width: 62.5%;top: 23%;left:18%;
 }
#p3_03{
      width:13.90625%;top: 13%;left:6.9%;transform: rotateZ(-20deg);
  }
#p3_04{
    width:13.90625%;top: 21%;left:89.53125%;transform: rotateZ(20deg);
}
#p3_05{
    width:13.90625%;top: 65%;left:9.5%;transform: rotateZ(20deg);
}
#p3_06{
    width:13.90625%;top: 73%;RIGHT:9%;transform: rotateZ(-20deg);
}
#share-Friend{
    position: fixed;background: rgba(0,0,0,0.9);height: 100%;width: 100%;z-index: 999999999999999999999999;
}
#share-icon{
    width: 44.6875%;right: 7.5%;top:4.2%
}

.clock_dot{
    position: absolute;
    top: 56%;
    width: 1.4%; /*9px*/
    left: 48.5%;
}

.hours{
  position: absolute;
  width: 1.25%;
  left: 49.2%;
  top: 52%;
  /*transform: rotate(95deg);*/
  -webkit-transform: rotate(105deg);
}

.minutes{
  position: absolute;
  width: 1.25%;
  left: 48.5%;
  top: 49.2%;
  /*transform: rotate(-24deg);*/
  -webkit-transform: rotate(-24deg);
}